{% extends "admin/super/index.html.twig" %}

{% block admin_icerik %}

    <hr/>

    <h2 class="text-center panel-primary panel-heading">Şirketler Listesi: </h2>

    <table class="table table-responsive table-striped table-condensed">
        <tr>
            <th>Logo</th>
            <th>Şirket Adı</th>
            <th>Kullanıcı</th>
            <th>Müşteri</th>
            <th class="text-right">İşlemler</th>
            <th></th>
        </tr>

        {% for sirket in data.sirketler %}

            <tr>
                <td>
                    <img src="../{{ sirket.logo }}" alt=""/>
                </td>
                <td>
                    <a href="?link=sirket&id={{ sirket.id }}">{{ sirket.adi }}</a>
                    {% if sirket.premium %}
                        <i class="fa fa-star"></i>
                    {% endif %}
                </td>
                <td>
                    {{ sirket.kullanici_sayisi }}
                </td>
                {% if sirket.musteri_sayisi > 0 %}
                    <td>{{ sirket.musteri_sayisi }}</td>
                {% else %}
                    <td>0</td>
                {% endif %}
                <td class="text-right">
                    <a class="btn btn-warning" href="">Giriş</a>
                    {% if sirket.aktif %}
                        <!-- pasif yapma butonu. -->
                        <a class="btn btn-danger" href="">Pasif Yap</a>
                    {% else %}
                        <!-- aktif yap. -->
                        <a class="btn btn-primary" href="">Aktif Yap</a>
                    {% endif %}
                    <a class="btn btn-info" href="mailto:{{ sirket.yetkili_mail }}">İletişim</a>
                </td>
            </tr>
        {% endfor %}


    </table>

{% endblock %}
