{#
Gelen veriler: data. altında.
1. title
2. sirket (array)
    1. id
    2. id_sektor
    3. sektor_adi
    4. adi
    5. adres
    6. tel
    7. logo
    8. logo_400
    9. premium
    10. yetkili
    11. yetkili_mail
    12. tarih_kayit
    13. kullanici_sayisi
3. admin (array)
    1. id
    2. adi
    3. soyadi
    4. mail
    5. sifre
    6. tarih_kayit
    7. tarih_son_giris
#}
{% extends "admin/sirket/index.html.twig" %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block admin_icerik %}
    <!-- Maps bölümü -->

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-1008641-85', 'auto');
        ga('send', 'pageview');
    </script>


    <section>
        <h1>Kullanıcı Ayarları: </h1>
        <p>Sayın <strong>{{ data.admin.adi }} {{ data.admin.soyadi }}</strong>, kişisel bilgilerinizi ve şirket bilgilerinizi aşağıda güncelleyebilirsiniz.</p>
        <hr/>


        <div class="row">

            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class=""><i class="glyphicon glyphicon-user pull-right"></i>Kullanıcı Bilgileri</h4>
                    </div>
                    <div class="panel-body">
                        <p>Kullanıcı bilgilerinizi güncelleyin.</p>
                    </div>

                    <div class="panel-footer">
                        <a class="pull-right" href="?link=ayarlar&islem=kul_duzenle"><i class="glyphicon glyphicon-edit fa-2x"></i></a>
                        <span class="clearfix"></span>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class=""><i class="glyphicon glyphicon-user pull-right"></i>Şirket Bilgileri</h4>
                    </div>
                    <div class="panel-body">
                        <p>Şirket bilgilerinizi güncelleyin.</p>
                    </div>

                    <div class="panel-footer">
                        <a class="pull-right" href="?link=ayarlar&islem=sir_duzenle"><i class="glyphicon glyphicon-edit fa-2x"></i></a>
                        <span class="clearfix"></span>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class=""><i class="glyphicon glyphicon-user pull-right"></i> Diğer İşlemler</h4>
                    </div>
                    <div class="panel-body">

                        {% if data.admin.rol == 1 %}
                        <a class="btn btn-warning btn-sm" href="?link=ayarlar&islem=yetkili">Yeni Yetkili Ata</a>
                        <a class="btn btn-primary btn-sm" href="?link=ayarlar&islem=calisan_ekle">Çalışan Ekle</a>
                        {% else %}
                        <p class="text-muted">Yeni yetkili atama izniniz bulunmuyor. Lütfen şirket admininiz ile bağlantıya giriniz.</p>
                        <a class="btn btn-primary btn-sm" href="?link=ayarlar&islem=calisan_ekle">Çalışan Ekle</a>
                        {% endif %}
                        {# ---
                        {% if data.sirket.premium == 0 %}
                            <a class="btn btn-primary btn-sm" href="">Premium Başvuru</a>
                        {% else %}
                            <a class="btn btn-danger btn-sm" href="">Premium İptal</a>
                        {% endif %}
                        --- #}
                        <hr/>
                        <p><strong>Referans kodunuz: </strong>{{ data.sirket.ref_kod }}</p>
                        {% if data.admin.rol == 1 %}
                        <a class="btn btn-danger btn-sm" href="sirket/inc/refYenile.php?id={{ data.sirket.id }}&adi={{ data.sirket.adi }}">Referans Kodunu Sıfırla</a>
                        {% endif %}

                    </div>

                    <div class="panel-footer">
                        <span class="clearfix"></span>
                    </div>
                </div>
            </div>

        </div>
    </section>

{% endblock %}
