{% extends "admin/sirket/index.html.twig" %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block admin_icerik %}
    {% if data.GET.sayfa %}
        {% set start = data.GET.sayfa * 5 %}
    {% else %}
        {% set start = 0 %}
    {% endif %}

    <section>
        <h2>Okunmamış Duyurular</h2>

        <!-- İŞLEM MESAJ -->
        {% if data.GET.sonuc == "basarili" %}
            <div class="panel panel-default panel-primary" style="margin-top: 25px">
                <div class="panel-heading">
                    <h4><i class="glyphicon glyphicon-check"> </i> İşleminiz başarı ile gerçekleşmiştir.</h4>
                </div>
            </div>
        {% elseif data.GET.sonuc == "basarisiz" %}
            <div style="margin-top: 25px" class="panel panel-default panel-red">
                <div class="panel-heading">
                    <h4><i class="glyphicon glyphicon-remove"> </i> İşleminiz sırasında bir sorunla karşılaşıldı.</h4>
                </div>
            </div>
        {% endif %}

        {% for duyuru in data.duyurular.okunmamis|slice(start, 5) %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>
                    <a href="?link=duyurular&id={{ duyuru.id }}">{{ duyuru.konu }} {{ duyuru.id }}</a> ({{ duyuru.tarih_gonderi|slice(0, 10) }})
                </h4>
            </div>
            <div class="panel-body">
                {{ duyuru.mesaj|slice(0, 100)}}
            </div>
            <div class="panel-footer text-right">
                <form action="sirket/inc/duyurular.php" method="POST">
                    <input name="kulId" type="hidden" value="{{ data.admin.id_enc }}"/>
                    <input name="duyId" type="hidden" value="{{ duyuru.id }}"/>
                    <input class="btn btn-primary" type="submit" value="Okunmuş İşaretle" name="oku"/>
                    <input class="btn btn-danger" type="submit" value="Sil" name="sil"/>
                </form>
            </div>
        </div>
        {% endfor %}

        {% if data.duyurular.okunmamis|length > 5 %}
            {# SAYFALAMA İŞLEMLERİ. #}
            <div class="row">
                <div class="col-md-4 text-left">
                    {% if data.GET.sayfa > 0 %}
                        <a href="?link=duyurular&sayfa={{ data.GET.sayfa - 1 }}" class="btn"><i class="glyphicon glyphicon-arrow-left fa-3x"></i></a>
                    {% else %}
                        <a href="" class="disabled btn"><i class="glyphicon glyphicon-arrow-left fa-3x"></i></a>
                    {% endif %}
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4 text-right">
                    {% if (5 * (data.GET.sayfa + 1)) < data.duyurular.okunmamis|length %}
                        <a href="?link=duyurular&sayfa={{ data.GET.sayfa + 1 }}" class="btn">
                            <i class="glyphicon glyphicon-arrow-right fa-3x"></i>
                        </a>
                    {% else %}
                        <a href="" class="btn disabled">
                            <i class="glyphicon glyphicon-arrow-right fa-3x"></i>
                        </a>
                    {% endif %}


                </div>
            </div>
        {% endif %}
    </section>

{% endblock %}
