{% extends "admin/sirket/index.html.twig" %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block admin_icerik %}
    {% if data.GET.sayfa %}
        {% set start = data.GET.sayfa * 5 %}
    {% else %}
        {% set start = 0 %}
    {% endif %}

    <section>
        <h2>Okunmamış Duyurular</h2>
        <hr/>

        <!-- İŞLEM MESAJ -->
        {{ include("admin/sirket/inc/sonuc.html.twig") }}

        <!-- dataTable.js işlemleri -->
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.6/css/jquery.dataTables.css"/>

        <table class="table display table-hover table-condensed" id="duyurular">
            <thead>
                <tr>
                    <th class="text-center">Konu</th>
                    <th class="text-center">Tarih</th>
                    <th class="text-center">Açıklama</th>
                    <th class="text-center">İşlem</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="4"></td>
                </tr>
            </tfoot>

            <tbody>
                {% for duyuru in data.duyurular.okunmamis %}
                    <tr>
                        <td>
                            <a href="?link=duyurular&id={{ duyuru.id }}">{{ duyuru.konu }}</a>
                        </td>
                        <td class="text-center">
                            <p>
                                {{ duyuru.tarih_gonderi|slice(0, 10) }}
                            </p>

                        </td>
                        <td>
                            <p>
                                {{ duyuru.mesaj|slice(0,50)|raw }}...
                            </p>
                        </td>
                        <td class="text-center">
                            <form action="sirket/inc/duyurular.php" method="POST">
                                <input name="kulId" type="hidden" value="{{ data.admin.id_enc }}"/>
                                <input name="duyId" type="hidden" value="{{ duyuru.id }}"/>
                                <input class="btn btn-primary" type="submit" value="Okunmuş İşaretle" name="oku"/>
                                <input class="btn btn-danger" type="submit" value="Sil" name="sil"/>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </section>

{% endblock %}
