{% extends "admin/sirket/index.html.twig" %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block admin_icerik %}

    <script type="text/javascript">
        var APPPATH_URI = "/system/cms/";
        var BASE_URI = "/";
    </script>
    <script type="text/javascript" src="../static/js/wissen.js"></script>

    <link href="../static/css/touchTouch.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="../static/js/jquery.touch.js"></script>
    <script>
        $(function () {
            $('#thumbs a').touchTouch();
        });
    </script>
    <section>
        <div class="container-fluid">

            <ol class="breadcrumb">
                <li class="active">Galeriler</li>
            </ol>

            <div class="row">

                <div class="col-md-6">
                    <div class="row">
                        {% for galeri in data.galeriler %}
                            <div class="col-md-6 col-xs-12">
                                <div class="thumb">
                                    <a href="?link=galeri&albumId={{ galeri.id }}">
                                        <img src="{{ galeri.on_resim }}"
                                             class="full" alt=""/></a>
                                    <a href="?link=galeri&albumId={{ galeri.id }}">
                                        <div class="hover">
                                            <i class="fa fa-eye"></i>
                                        </div>
                                    </a>
                                </div>
                                <h5 class="title"><a href="?link=galeri&albumId={{ galeri.id }}">{{ galeri.isim }}</a>
                                    <a class="pull-right" href="?link=galeri&islem=sil&albumId={{ galeri.id }}"><i
                                                class="fa fa-trash-o"></i></a>
                                </h5>
                            </div>
                        {% endfor %}

                    </div>
                </div>

                <div class="col-md-6">


                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">Yeni Galeri Oluştur</h4>
                        </div>
                        <div class="panel-body">


                            <form class="form-horizontal"
                                  action="?link=galeri&islem=galeriOlustur" method="post">

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="text" name="galeriAdi" class="form-control"
                                               placeholder="Galerinin Adı"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="text" name="galeriAciklama" class="form-control"
                                               placeholder="Galeri Açıklaması"/>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">

                                        <div class="radio">
                                            <label><input type="radio" name="aktif" value="1" checked>Aktif</label>
                                        </div>

                                        <div class="radio">
                                            <label><input type="radio" name="aktif" value="0">Pasif</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-primary" value="Galeri Oluştur">
                                    </div>
                                </div>

                            </form>
                        </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

