{% extends "admin/sirket/index.html.twig" %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block admin_icerik %}

    <script type="text/javascript">
        var APPPATH_URI = "/system/cms/";
        var BASE_URI = "/";
    </script>
    <script type="text/javascript" src="../static/js/wissen.js"></script>

    <link href="../static/css/touchTouch.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="../static/js/jquery.touch.js"></script>
    <script>
        $(function () {
            $('#thumbs a').touchTouch();
        });
    </script>
    <section>
        <div class="container-fluid">

            <ol class="breadcrumb">
                <li><a href="?link=galeri">Galeriler</a></li>
                <li class="active">{{ data.AlbumAdi }}</li>
            </ol>

            <div class="col-md-6">
                <div class="row">
                    {% for resim in data.resimler %}
                        <div class="col-md-6 col-xs-12">
                            <div class="thumb">
                                <a href="?link=galeri&albumId={{ resim.id_galeri }}&resimId={{ resim.id }}">
                                    <img src="{{ resim.url }}"
                                         class="full" alt="{{ resim.alt }}"/></a>
                                <a href="?link=galeri&albumId={{ resim.id_galeri }}&resimId={{ resim.id }}">
                                    <div class="hover">
                                        <i class="fa fa-eye"></i>
                                    </div>
                                </a>
                            </div>
                            <h5 class="title">
                                <a href="?link=galeri&albumId={{ resim.id_galeri }}&resimId={{ resim.id }}">{{ resim.alt }}</a>
                                <a class="pull-right" href="?link=galeri&islem=sil&albumId={{ resim.id_galeri }}&resimId={{ resim.id }}">
                                    <i class="fa fa-trash-o"></i>
                                </a>

                            </h5>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <script>
                function resim_action_degistir() {
                    var galeriId = document.getElementById('albumId').value;
                    document.getElementById('resimEkle').action = "?link=galeri&islem=ekle&albumId=" + galeriId;
                }
            </script>

            <div class="col-md-6">
                <div class="panel panel-primary" style="width: 430px;">
                    <div class="panel-heading">
                        <h4 class="panel-title">Galeriye Resim Ekle</h4>
                    </div>
                    <div class="panel-body">


                        <form id="resimEkle" class="form-horizontal"
                              action="?link=galeri&islem=ekle&albumId={{ data.albumId }}" method="post"
                              enctype="multipart/form-data">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <select name="albumId" class="form-control" id="albumId"
                                            onchange="resim_action_degistir();">
                                        {% for galeri in data.albumler %}
                                            <option value="{{ galeri.id }}"
                                                    {% if galeri.id == data.albumId %}
                                                        selected
                                                    {% endif %}
                                                    >{{ galeri.isim }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="file" name="resim" class="type-file" required/>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="text" name="alt" class="form-control"
                                           placeholder="Resim yazısı (alt).."/>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-primary" value="Resim Ekle">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>


                <div class="panel panel-primary" style="width: 430px;">
                    <div class="panel-heading">
                        <h4 class="panel-title">Yeni Galeri Oluştur</h4>
                    </div>
                    <div class="panel-body">


                        <form class="form-horizontal"
                              action="?link=galeri&islem=galeriOlustur" method="post">

                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="text" name="galeriAdi" class="form-control"
                                           placeholder="Galerinin Adı"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="text" name="galeriAciklama" class="form-control"
                                           placeholder="Galeri Açıklaması"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="submit" class="btn btn-primary" value="Galeri Oluştur">
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}