{% extends "admin/sirket/index.html.twig" %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block admin_icerik %}

    <script type="text/javascript">
        var APPPATH_URI = "/system/cms/";
        var BASE_URI = "/";
    </script>
    <script type="text/javascript" src="../static/js/wissen.js"></script>

    <link href="../static/css/touchTouch.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" src="../static/js/jquery.touch.js"></script>
    <script>
        $(function () {
            $('#thumbs a').touchTouch();
        });
    </script>
    <section>
        <div class="container-fluid">
            <ol class="breadcrumb">
                <li><a href="?link=galeri">Galeriler</a></li>
                <li><a href="?link=galeri&albumId={{ data.resim.id_galeri }}">{{ data.AlbumAdi }}</a></li>
                <li class="active">{{ data.resim.alt }}</li>
            </ol>

            <div class="col-md-6">
                <div class="row">
                    <div class="panel panel-primary" style="width: 430px;">
                        <div class="panel-heading">
                            <h4 class="panel-title text-center">Resim Düzenle</h4>
                        </div>
                        <div class="panel-body">
                            <script>
                                function action_degistir() {
                                    var galeriId = document.getElementById('galeriId').value;
                                    document.getElementById('myform').action = "?link=galeri&albumId=" + galeriId + "&resimId={{ data.resim.id }}";
                                }
                            </script>
                            <form class="form-horizontal" id="myform"
                                  action="?link=galeri&albumId={{ data.resim.id_galeri }}&resimId={{ data.resim.id }}"
                                  method="post">
                                <img src="{{ data.resim.url }}" alt="{{ data.resim.alt }}">
                                <hr>
                                <div class="form-group">
                                    <div class="col-md-5">
                                        <label for="galeriId">Bulunduğu Galeri</label>
                                    </div>
                                    <div class="col-md-7">
                                        <select name="galeriId" class="form-control" id="galeriId"
                                                onchange="action_degistir();">
                                            {% for galeri in data.albumler %}
                                                <option value="{{ galeri.id }}"
                                                        {% if galeri.id == data.resim.id_galeri %}
                                                            selected
                                                        {% endif %}
                                                        >{{ galeri.isim }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-5">
                                        <label for="alt">Resim Açıklaması</label>
                                    </div>
                                    <div class="col-md-7">
                                        <input type="text" name="alt" value="{{ data.resim.alt }}" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="col-md-7 col-md-offset-5">
                                        <input type="submit" name="sil" value="Sil" class="btn btn-danger">
                                        <input type="submit" name="kaydet" value="Kaydet" class="btn btn-primary">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary" style="width: 430px;">
                            <div class="panel-heading">
                                <h4 class="panel-title">Galerinin Diğer Resimleri</h4>
                            </div>
                            <div class="panel-body">

                                {% if data.galerininResimleri != false %}
                                    {% for galerininResimleri in data.galerininResimleri %}
                                            <div class="col-md-4">
                                                <div class="mini-img">
                                                    <a href="?link=galeri&albumId={{ galerininResimleri.id_galeri }}&resimId={{ galerininResimleri.id }}"><img
                                                            src="{{ galerininResimleri.url }}"
                                                            alt="{{ galerininResimleri.alt }}"></a>
                                                </div>
                                            </div>

                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>


                    <script>
                        function resim_action_degistir() {
                            var galeriId = document.getElementById('albumId').value;
                            document.getElementById('resimEkle').action = "?link=galeri&islem=ekle&albumId=" + galeriId;
                        }
                    </script>

                    <div class="col-md-12">
                        <div class="panel panel-primary" style="width: 430px;">
                            <div class="panel-heading">
                                <h4 class="panel-title">Galeriye Resim Ekle</h4>
                            </div>
                            <div class="panel-body">


                                <form id="resimEkle" class="form-horizontal"
                                      action="?link=galeri&islem=ekle&albumId={{ data.resim.id_galeri }}" method="post"
                                      enctype="multipart/form-data">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <select name="albumId" class="form-control" id="albumId"
                                                    onchange="resim_action_degistir();">
                                                {% for galeri in data.albumler %}
                                                    <option value="{{ galeri.id }}"
                                                            {% if galeri.id == data.resim.id_galeri %}
                                                                selected
                                                            {% endif %}
                                                            >{{ galeri.isim }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="file" name="resim" class="type-file" required/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="text" name="alt" class="form-control"
                                                   placeholder="Resim yazısı (alt).."/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="submit" class="btn btn-primary" value="Resim Ekle">
                                        </div>
                                    </div>
                                </form>


                                <div class="alert alert-warning" role="alert">
                                    <ul>
                                        <li>Yüklenecek resmin genişliği veya yüksekliği <b>400px</b>'den küçük olamaz..</li>
                                        <li>Resmin boyutu <b>2MB</b>'tan büyük olamaz</li>
                                        <li>İzin verilen türler : <b>jpg, jpeg, png</b></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="panel panel-primary" style="width: 430px;">
                            <div class="panel-heading">
                                <h4 class="panel-title">Yeni Galeri Oluştur</h4>
                            </div>
                            <div class="panel-body">


                                <form class="form-horizontal"
                                      action="?link=galeri&islem=galeriOlustur" method="post">

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="text" name="galeriAdi" class="form-control"
                                                   placeholder="Galerinin Adı"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="text" name="galeriAciklama" class="form-control"
                                                   placeholder="Galeri Açıklaması"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <input type="submit" class="btn btn-primary" value="Galeri Oluştur">
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
{% endblock %}