{#
Gelen veriler: data. altında.
#}
{% extends "admin/sirket/index.html.twig" %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block admin_icerik %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.6/css/jquery.dataTables.css"/>
    <section>


        <form action="" class="">
            <input type="hidden" value="haberler" name="link"/>
            <div class="row">
                <div class="col-md-5" style="padding-bottom: 15px">
                    <a href="?link=haberler&islem=ekle" class="btn btn-primary">Haber Ekle</a>
                    <a href="?link=haberler&islem=kategori_ekle" class="btn btn-primary">Kategori Ekle</a>
                </div>
                <div class="form-group col-md-2">
                    <select class="form-control" name="durum" id="">
                        <option value="0">-- Hepsi</option>
                        <option value="1">Aktif</option>
                        <option value="2">Pasif</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <select name="kategori_id" class="form-control" id="">
                        <option value="0">-- Bütün Kategoriler</option>
                        {% for kategori in data.kategoriler %}
                            <option value="{{ kategori.id }}">{{ kategori.adi }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group col-md-1">
                    <input class="btn btn-primary" type="submit" name="yolla" value="SEÇ"/>
                </div>
            </div>
        </form>

        <hr/>

        {% include("admin/sirket/inc/sonuc.html.twig") %}

        <!-- DÜZENLEME -->
        {% if data.GET.islem == "duzenle" and data.GET.id  %}
        <div class="panel panel-primary" id="duzenle" style="width: 75%; margin: 0 auto; margin-bottom: 50px">

            <div class="panel-heading">
                <h4 class="panel-title text-center">Haber Düzenleme</h4>
            </div>

            <div class="panel-body">

                {# TODO: For Loop yerine sadece bir haber getiren bir fonksiyon kullanılacak. #}
                {% for haber in data.haberler %}
                    {% if haber.id == data.GET.id %}
                        <p class="text-center">Haber bilgilerinizi aşağıda düzenleyebilirsiniz.</p>
                        <hr/>
                        <form class="form-horizontal" action="sirket/inc/haberDuzenle.php" method="post" enctype="multipart/form-data"style="width: 90%; margin: 0 auto;" >
                            <input type="hidden" value="{{ haber.id }}" name="id"/>
                            <input type="hidden" value="{{ haber.id }}" name="haber_id"/>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="baslik">Haber Başlık</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" id="baslik" name="baslik" value="{{ haber.baslik }}" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="kisa_aciklama">Kısa Açıklama</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" id="kisa_aciklama" name="kisa_aciklama" value="{{ haber.kisa_aciklama }}" class="form-control"/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="uzun_aciklama">Uzun Açıklama</label>
                                    </div>
                                    <div class="col-md-9">
                                        <textarea name="uzun_aciklama" id="uzun_aciklama" cols="30" rows="10" class="form-control">{{ haber.uzun_aciklama }}</textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- Resim -->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="resim">Resim</label>
                                    </div>
                                    <div class="col-md-9">
                                        <input class="form-control" type="file" name="resim" id="resim"/>
                                    </div>
                                </div>
                            </div>

                            <!-- Aktif / Pasif -->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="resim">Aktif / Pasif</label>
                                    </div>
                                    <div class="col-md-9">
                                        <select class="form-control" name="durum" id="durum">
                                            <option value="1" {% if haber.durum == 1 %} selected{% endif %}>Aktif</option>
                                            <option value="2" {% if haber.durum == 2 %} selected{% endif %}>Pasif</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <!-- Kategori -->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label for="kategori_id">Kategori</label>
                                    </div>
                                    <div class="col-md-9">
                                        <select class="form-control" name="kategori_id" id="kategori_id">
                                            {% for kategori in data.kategoriler %}
                                                <option value="{{ kategori.id }}" {% if kategori.id == haber.kategori_id %} selected{% endif %}>{{ kategori.adi }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <!-- Kategori -->
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-3"> </div>
                                    <div class="col-md-9 text-right">
                                        <input type="submit" value="Düzenle" name="duzenle" class="btn btn-primary"/>
                                        <a class="btn btn-danger" href="?link=haberler">İptal</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                {% endfor %}

            </div>

            <div class="panel-footer"></div>

        </div>
        {% endif %}
        <!-- DÜZENLEME -->

        <!-- ANA TABLO -->
        <table class="table display table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th class="text-center"> Haberler </th>
                    <th class="text-center"> Kategori </th>
                    <th class="text-center"> Aktif / Pasif</th>
                    <th class="text-center"> Resim </th>
                    <th class="text-center"> Eklenme Tarihi </th>
                    <th class="text-center"> İşlemler </th>
                </tr>
            </thead>
            <tbody>
                {% for haber in data.haberler %}
                    <tr>
                        <td class="text-center">
                            <p>{{ haber.baslik }}</p>
                        </td>
                        <td class="text-center">
                            {# TODO: Haber'in kategorisinin adı da SQL sorgusuyla gelmeli.#}
                            {% for kategori in data.kategoriler %}
                                {% if kategori.id == haber.kategori_id %}
                                    <p>{{ kategori.adi }}</p>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td class="text-center">
                            <p>
                                {% if haber.durum == 1 %}
                                    Aktif
                                {% else %}
                                    Pasif
                                {% endif %}
                            </p>
                        </td>
                        <td class="text-center">
                            <a href="{{ haber.resim }}">Link</a>
                        </td>
                        <td class="text-center">
                            <p>{{ haber.tarih | slice(0, 10) }}</p>
                        </td>
                        <td class="text-center">
                            <form action="sirket/haberSil.php" method="post">
                                <a class="btn btn-primary" href="?link=haberler&islem=duzenle&id={{ haber.id }}">Düzenle</a>
                                <input type="hidden" name="haber_id" value="{{ haber.id }}"/>
                                <input class="btn btn-danger" type="submit" value="sil" name="sil"/>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>


    </section>
{% endblock %}