{% extends "admin/sirket/index.html.twig" %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block admin_icerik %}

    <section>

        <!-- dataTable.js işlemleri -->
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.6/css/jquery.dataTables.css"/>

        <table class="table display table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Adı</th>
                    <th>Soyadı</th>
                    <th>Mail</th>
                    <th>Telefon</th>
                    <th>Ban</th>
                    <th>Sil</th>
                </tr>
            </thead>
            <tbody>
                {% for musteri in data.musteriler %}
                    <tr>
                        <td>{{ musteri.id }}</td>
                        <td>{{ musteri.adi }}</td>
                        <td>{{ musteri.soyadi }}</td>
                        <td>{{ musteri.mail }}</td>
                        <td>{{ musteri.telefon }}</td>
                        {% if musteri.aktif == 0 %}
                            <td><a class="fa fa-ban fa-lg" href="?link=musteriler&islem=aktif&kulid={{ musteri.id }}"></a></td>
                        {% else %}
                            <td><a class="fa fa fa-user fa-lg" href="?link=musteriler&islem=pasif&kulid={{ musteri.id }}"></a>
                            </td>
                        {% endif %}
                        <td><a class="fa fa-user-times fa-lg" href="?link=musteriler&islem=sil&kulid={{ musteri.id }}"></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}