{#
Gelen veriler: data. altında.
#}
{% extends "admin/sirket/index.html.twig" %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block admin_icerik %}

    <section>
        <!-- İŞLEM MESAJ -->
        {% if data.GET.sonuc == "basarili" %}
            <div class="panel panel-default panel-primary" style="margin-top: 25px">
                <div class="panel-heading">
                    <h4><i class="glyphicon glyphicon-check"> </i> İşleminiz başarı ile gerçekleşmiştir.</h4>
                </div>
            </div>
        {% elseif data.GET.sonuc == "basarisiz" %}
            <div style="margin-top: 25px" class="panel panel-default panel-red">
                <div class="panel-heading">
                    <h4><i class="glyphicon glyphicon-remove"> </i> İşleminiz sırasında bir sorunla karşılaşıldı.</h4>
                </div>
            </div>
        {% endif %}

        <br/>

        <table class="table table-striped table-hover table-responsive">
            <tr>
                <th>Reklam Adı</th>
                <th>Gösterim Sayısı</th>
                <th>Reklam Tıklama</th>
                <th>Başlangıç Tarihi</th>
                <th>Bitiş Tarihi</th>
                <th>Resim</th>
                <th>Kod</th>
                <th>Link</th>
                <th colspan="2">İşlemler</th>
            </tr>
            {% for reklam in data.reklamlar %}
                <tr>
                    <td>
                        {{ reklam.adi }}
                    </td>
                    <td>
                        {{ reklam.gosterim }}
                    </td>
                    <td>
                        {{ reklam.tiklama }}
                    </td>
                    <td>
                        {{ reklam.tarih_baslangic }}
                    </td>
                    <td>
                        {{ reklam.tarih_bitis }}
                    </td>
                    <td>
                        <a href="../{{ reklam.dosya }}">Resim</a>
                        <!--
                        <img width="50px" src="../{{ reklam.dosya }}" alt=""/>
                        -->
                        <!-- Reklam boyutları çok farklı olacağı için link koymak daha iyi olabilir. -->
                    </td>
                    <td>
                        {{ reklam.kod }}
                    </td>
                    <td>
                        {{ reklam.href }}
                    </td>

                    <td>
                        <a class="btn btn-primary" href="?link=reklam&islem=duzenle&id={{ reklam.id }}">Düzenle</a>
                    </td>
                    <td>
                        <form action="sirket/reklamSil.php" method="post">
                            <!-- TODO: idEncode / idDecode gerekebilir ileride -->
                            <input type="hidden" name="reklam_id" value="{{ reklam.id }}"/>
                            <input class="btn btn-danger" type="submit" value="sil" name="sil"/>
                        </form>
                    </td>
                </tr>
                <tr>
                    {% if data.duzenle and data.duzenleId == reklam.id %}
                        <form action="sirket/reklamDuzenle.php" method="post" enctype="multipart/form-data">
                            <td>
                                <input type="text" name="adi" value="{{ reklam.adi }}" placeholder="Reklam Adı"/>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><input type="datetime" name="bitis" id=""value="{{ reklamlar.tarih_bitis }}"/></td>

                            {#TODO: Dosya işleminde required yapıyoruz ama her seferinde adamın yeniden dosya
                             yüklemesi gerekiyor. Hem server'a devamlı dosya yükleniyor. Hem de adama ek iş.
                             Bunu nasıl çözeceğiz düşünmek lazım. #}
                            <td><input type="file" name="dosya" id="" required/></td>
                            <td><input type="text" name="kod" value="{{ reklam.kod }}"></td>
                            <td><input type="text" name="link" value="{{ reklam.href }}" plaaceholder="Reklam Lİnki"/></td>
                            <td><input type="submit" name="kaydet" value="Kaydet"> </td>
                            <input type="hidden" name="id" value="{{ data.duzenleId }}">
                            <input type="hidden" name="reklam_id" value="{{ reklam.id }}"/>
                        </form>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>

        <div class="text-right" style="margin-top: 25px">
            <a href="?link=reklam&islem=ekle" class="btn btn-primary">Yeni Ekle</a>
        </div>
    </section>

{% endblock %}

