{% extends "admin/sirket/index.html.twig" %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block admin_icerik %}


    <!-- muratın jstree dosyaları -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript"  src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="static/js/jquery.tree.css"/>
    <script type="text/javascript" src="static/js/jquery.tree.js"></script>
    <script type="text/javascript">
        //<!--
        $(document).ready(function() {

            $('#example-3 div').tree({
                onCheck: {
                    node: 'expand'
                },
                onUncheck: {
                    node: 'collapse'
                }
            });

        });
        //-->
    </script>
    <link rel="stylesheet" type="text/css" href="static/css/jquery.tree.css"/>
    <section>
        <h1>{{ data.mesaj }}</h1>
    </section>
    <section>
        <!-- İŞLEM MESAJ -->
        {{ include("admin/sirket/inc/sonuc.html.twig") }}
        <div class="panel panel-primary" style="width: 75%; margin: 0 auto; margin-bottom: 50px">
            <div class="panel-heading">
                <h4 class="panel-title text-center">Ürün Ekleme</h4>
            </div>
            <div class="panel-body">
                <h4 class="text-center">Ürün Bilgilerinizi Giriniz</h4>
                <hr/>
                <form class="form-horizontal" action="sirket/inc/urunEkle.php"  method="post" style="width: 90%; margin: 0 auto;" >
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="baslik">Ürün Kategori Seçiniz</label>
                            </div>
                            <div class="col-md-9" id="example-3">
                                <div>
                                    <ul>
                                        {{ data.kategoriler|raw }}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- reklam adı -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="baslik">Ürün Adını Giriniz</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="urunAdi" id="urunAdi" value="" placeholder="Ürün Adı" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <!-- Gösterim Sayısı -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="kisa_aciklama">Kısa Açıklama Giriniz</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="kisaAciklama" id="kisaAciklama" placeholder="Ürün Kısa Açıklama" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <!-- Başlangıç Tarihi -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="detay">Ürün Açıklamasını Giriniz</label>
                            </div>
                            <div class="col-md-9">
                                <textarea name="urunAciklama" placeholder="Ürün Açıklamasını Giriniz" cols="30" rows="5" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- bitis Tarihi -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="detay">Ürün Fiyatını Giriniz</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text" name="fiyat" id="fiyat" placeholder="Ürün Fiyat" class="form-control">
                            </div>
                        </div>
                    </div>
                    <!-- Reklam Görseli -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="detay">Ürün Tipini Seçiniz</label>
                            </div>
                            <div class="col-md-9">
                                <select class="form-control" name="tip">
                                    <option value="0">Ürünün Tipini Seçiniz</option>
                                    <option value="1">Satılık</option>
                                    <option value="2">Kiralık</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Reklam kod -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="baslik">Kampanya var mı ?</label>
                            </div>
                            <div class="col-md-9">
                                <select class="form-control" name="kampanya">
                                    <option>Seçiniz</option>
                                    <option value="1">Evet</option>
                                    <option value="0">Hayır</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- Reklam link -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="baslik">Kampanya Adı</label>
                            </div>
                            <div class="col-md-9">
                                <input type="text"  name="kampanyaBaslik" id="kampanyaBaslik" placeholder="Kampanya Adı" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <!-- Başlangıç Tarihi -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="detay">Kampanya Detayını Giriniz</label>
                            </div>
                            <div class="col-md-9">
                                <textarea name="kampanyaDetay" placeholder="Ürün Açıklamasını Giriniz" cols="30" rows="5" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- Buton -->
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-3"> </div>
                            <div class="col-md-9 text-right">
                                <input type="submit" value="Kaydet" name="kaydet" class="btn btn-primary"/>
                                <input type="hidden" name="sirketId" value="{{ data.sirket.id }}">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!--<div class="panel-footer"></div>-->
        </div>
    </section>
{% endblock %}
