{% extends "admin/sirket/index.html.twig" %}

{% block title %}
    {{ data.title }}
{% endblock %}

{% block admin_icerik %}
    <section>
        <h1>{{ data.mesaj }}</h1>
    </section>
    <section class="top40 bottom40">
    <a href="index.php?link=urunler&islem=ekle" class="btn btn-primary">Ürün Ekle</a>
    <a href="index.php?link=kategoriler" class="btn btn-primary">Kategoriler</a>

    <!-- dataTable.js işlemleri -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.6/css/jquery.dataTables.css"/>

    <table class="table display table-striped table-hover table-responsive">
        <thead>
        <tr>
            <th>Ürün Adı</th>
            <th>Ürün Başlığı</th>
            <th>Açıklama</th>
            <th>Kategoriler</th>
            <th colspan="2">İşlemler</th>
        </tr>
        </thead>
        <tbody>
        {% for urun in data.urunler %}
            <tr>
                <td>
                    {{ urun.urun_adi }}
                </td>
                <td>
                    {{ urun.kisa_aciklama }}
                </td>
                <td>
                    {{ urun.aciklama }}
                </td>
                <td>
                    {{ urun.kategori }}
                </td>

                <td>
                    <a class="btn btn-primary" href="?link=urunler&islem=duzenle&id={{ urun.id }}">Düzenle</a>
                </td>
                <td>
                    <form action="sirket/urunSil.php" method="post">
                        <!-- TODO: idEncode / idDecode gerekebilir ileride -->
                        <input type="hidden" name="urun_id" value="{{ urun.id }}"/>
                        <input class="btn btn-danger" type="submit" value="sil" name="sil"/>
                    </form>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>

    </section>

{% endblock %}
